<h1>Modal</h1>
<p>Use Bootstrap&rsquo;s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>
<h2>How it works</h2>
<p>Before getting started with Bootstrap&rsquo;s modal component, be sure to read the following as our menu options have recently changed.</p>
<ul>
    <li>Modals are built with HTML, CSS, and JavaScript. They&rsquo;re positioned over everything else in the document and remove scroll from the <code>&lt;body&gt;</code> so that modal content scrolls instead.</li>
    <li>Clicking on the modal &ldquo;backdrop&rdquo; will automatically close the modal.</li>
    <li>Bootstrap only supports one modal window at a time. Nested modals aren&rsquo;t supported as we believe them to be poor user experiences.</li>
    <li>Modals use <code>position: fixed</code>, which can sometimes be a bit particular about its rendering. Whenever possible, place your modal HTML in a top-level position to avoid potential interference from other elements. You&rsquo;ll likely run into issues when nesting a <code>.modal</code> within another fixed element.</li>
    <li>Once again, due to <code>position: fixed</code>, there are some caveats with using modals on mobile devices. <a href="https://getbootstrap.com/docs/5.1/getting-started/browsers-devices/#modals-and-dropdowns-on-mobile">See our browser support docs</a> for details.</li>
    <li>Due to how HTML5 defines its semantics, <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#attr-autofocus">the <code>autofocus</code> HTML attribute</a> has no effect in Bootstrap modals. To achieve the same effect, use some custom JavaScript:</li>
</ul>
<div class="bstg-callout bstg-callout-info">
    The animation effect of this component is dependent on the <code>prefers-reduced-motion</code> media query. See the <a href="https://getbootstrap.com/docs/5.1/getting-started/accessibility/#reduced-motion">reduced motion section of our accessibility documentation</a>.
</div>
<p>Keep reading for demos and usage guidelines.</p>
<h2>Examples</h2>
<h3>Modal components</h3>
<p>Below is a <em>static</em> modal example (meaning its <code>position</code> and <code>display</code> have been overridden). Included are the modal header, modal body (required for <code>padding</code>), and modal footer (optional). We ask that you include modal headers with dismiss actions whenever possible, or provide another explicit dismiss action.</p>
<div class="bstg-example bstg-example-modal">
    <div class="modal"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                    <button type="button"
                            class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<h3>Live demo</h3>
<p>Toggle a working modal demo by clicking the button below. It will slide down and fade in from the top of the page.</p>
<div class="modal fade"
     id="exampleModalLive"
     tabindex="-1"
     aria-labelledby="exampleModalLiveLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="exampleModalLiveLabel">Modal title</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Woohoo, you're reading this text in a modal!</p>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                <button type="button"
                        class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="bstg-example">
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModalLive">
        Launch demo modal
    </button>
</div>
<h3>Static backdrop</h3>
<p>When backdrop is set to static, the modal will not close when clicking outside it. Click the button below to try it.</p>
<div class="modal fade"
     id="staticBackdropLive"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLiveLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="staticBackdropLiveLabel">Modal title</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>I will not close if you click outside me. Don't even try to press escape key.</p>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                <button type="button"
                        class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>
<div class="bstg-example">
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdropLive">
        Launch static backdrop modal
    </button>
</div>
<h3>Scrolling long content</h3>
<p>When modals become too long for the user&rsquo;s viewport or device, they scroll independent of the page itself. Try the demo below to see what we mean.</p>
<div class="modal fade"
     id="exampleModalLong"
     tabindex="-1"
     aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="exampleModalLongTitle">Modal title</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body"
                 style="min-height: 1500px">
                <p>This is some placeholder content to show the scrolling behavior for modals. Instead of repeating the text the modal, we use an inline style set a minimum height, thereby extending the length of the overall modal and demonstrating the overflow scrolling. When content becomes longer than the height of the viewport, scrolling will move the modal as needed.</p>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                <button type="button"
                        class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="bstg-example">
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModalLong">
        Launch demo modal
    </button>
</div>
<p>You can also create a scrollable modal that allows scroll the modal body by adding <code>.modal-dialog-scrollable</code> to <code>.modal-dialog</code>.</p>
<div class="modal fade"
     id="exampleModalScrollable"
     tabindex="-1"
     aria-labelledby="exampleModalScrollableTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="exampleModalScrollableTitle">Modal title</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>This is some placeholder content to show the scrolling behavior for modals. We use repeated line breaks to demonstrate how content can exceed minimum inner height, thereby showing inner scrolling. When content becomes longer than the predefined max-height of modal, content will be cropped and scrollable within the modal.</p>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <p>This content should appear at the bottom after you scroll.</p>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                <button type="button"
                        class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="bstg-example">
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModalScrollable">
        Launch demo modal
    </button>
</div>
<h3>Vertically centered</h3>
<p>Add <code>.modal-dialog-centered</code> to <code>.modal-dialog</code> to vertically center the modal.</p>
<div class="modal fade"
     id="exampleModalCenter"
     tabindex="-1"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="exampleModalCenterTitle">Modal title</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>This is a vertically centered modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                <button type="button"
                        class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade"
     id="exampleModalCenteredScrollable"
     tabindex="-1"
     aria-labelledby="exampleModalCenteredScrollableTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="exampleModalCenteredScrollableTitle">Modal title</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>This is some placeholder content to show a vertically centered modal. We've added some extra copy here to show how vertically centering the modal works when combined with scrollable modals. We also use some repeated line breaks to quickly extend the height of the content, thereby triggering the scrolling. When content becomes longer than the predefined max-height of modal, content will be cropped and scrollable within the modal.</p>
                <br><br><br><br><br><br><br><br><br><br>
                <p>Just like that.</p>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                <button type="button"
                        class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="bstg-example">
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModalCenter">
        Vertically centered modal
    </button>
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModalCenteredScrollable">
        Vertically centered scrollable modal
    </button>
</div>
<h3>Tooltips and popovers</h3>
<p><a href="https://getbootstrap.com/docs/5.1/components/tooltips/">Tooltips</a> and <a href="https://getbootstrap.com/docs/5.1/components/popovers/">popovers</a> can be placed within modals as needed. When modals are closed, any tooltips and popovers within are also automatically dismissed.</p>
<div class="modal fade"
     id="exampleModalPopovers"
     tabindex="-1"
     aria-labelledby="exampleModalPopoversLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="exampleModalPopoversLabel">Modal title</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Popover in a modal</h5>
                <p>This <a href="#"
                       role="button"
                       class="btn btn-secondary popover-test"
                       title="Popover title"
                       data-bs-content="Popover body content is set in this attribute."
                       data-bs-container="#exampleModalPopovers">button</a> triggers a popover on click.</p>
                <hr>
                <h5>Tooltips in a modal</h5>
                <p><a href="#"
                       class="tooltip-test"
                       title="Tooltip"
                       data-bs-container="#exampleModalPopovers">This link</a> and <a href="#"
                       class="tooltip-test"
                       title="Tooltip"
                       data-bs-container="#exampleModalPopovers">that link</a> have tooltips on hover.</p>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                <button type="button"
                        class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="bstg-example">
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModalPopovers">
        Launch demo modal
    </button>
</div>
<h3>Using the grid</h3>
<p>Utilize the Bootstrap grid system within a modal by nesting <code>.container-fluid</code> within the <code>.modal-body</code>. Then, use the normal grid system classes as you would anywhere else.</p>
<div class="modal fade"
     id="gridSystemModal"
     tabindex="-1"
     aria-labelledby="gridModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="gridModalLabel">Grids in modals</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid bstg-example-row">
                    <div class="row">
                        <div class="col-md-4">.col-md-4</div>
                        <div class="col-md-4 ms-auto">.col-md-4 .ms-auto</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 ms-auto">.col-md-3 .ms-auto</div>
                        <div class="col-md-2 ms-auto">.col-md-2 .ms-auto</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 ms-auto">.col-md-6 .ms-auto</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            Level 1: .col-sm-9
                            <div class="row">
                                <div class="col-8 col-sm-6">
                                    Level 2: .col-8 .col-sm-6
                                </div>
                                <div class="col-4 col-sm-6">
                                    Level 2: .col-4 .col-sm-6
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                <button type="button"
                        class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="bstg-example">
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#gridSystemModal">
        Launch demo modal
    </button>
</div>
<h3>Varying modal content</h3>
<p>Have a bunch of buttons that all trigger the same modal with slightly different contents? Use <code>event.relatedTarget</code> and <a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Howto/Use_data_attributes">HTML <code>data-bs-*</code> attributes</a> to vary the contents of the modal depending on which button was clicked.</p>
<p>Below is a live demo followed by example HTML and JavaScript. For more information, <a href="#events">read the modal events docs</a> for details on <code>relatedTarget</code>.</p>
<div class="bstg-example">
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            data-bs-whatever="@mdo">Open modal for @mdo</button>
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            data-bs-whatever="@fat">Open modal for @fat</button>
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            data-bs-whatever="@getbootstrap">Open modal for @getbootstrap</button>
    <div class="modal fade"
         id="exampleModal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="exampleModalLabel">New message</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="recipient-name"
                                   class="col-form-label">Recipient:</label>
                            <input type="text"
                                   class="form-control"
                                   id="recipient-name">
                        </div>
                        <div class="mb-3">
                            <label for="message-text"
                                   class="col-form-label">Message:</label>
                            <textarea class="form-control"
                                      id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                    <button type="button"
                            class="btn btn-primary">Send message</button>
                </div>
            </div>
        </div>
    </div>
</div>
<h3>Toggle between modals</h3>
<p>Toggle between multiple modals with some clever placement of the <code>data-bs-target</code> and <code>data-bs-toggle</code> attributes. For example, you could toggle a password reset modal from within an already open sign in modal. <strong>Please note multiple modals cannot be open at the same time</strong>—this method simply toggles between two separate modals.</p>
<div class="bstg-example">
    <div class="modal fade"
         id="exampleModalToggle"
         aria-hidden="true"
         aria-labelledby="exampleModalToggleLabel"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="exampleModalToggleLabel">Modal 1</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Show a second modal and hide this one with the button below.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary"
                            data-bs-target="#exampleModalToggle2"
                            data-bs-toggle="modal">Open second modal</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade"
         id="exampleModalToggle2"
         aria-hidden="true"
         aria-labelledby="exampleModalToggleLabel2"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="exampleModalToggleLabel2">Modal 2</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Hide this modal and show the first with the button below.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary"
                            data-bs-target="#exampleModalToggle"
                            data-bs-toggle="modal">Back to first</button>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-primary"
       data-bs-toggle="modal"
       href="#exampleModalToggle"
       role="button">Open first modal</a>
</div>
<h3>Change animation</h3>
<p>The <code>$modal-fade-transform</code> variable determines the transform state of <code>.modal-dialog</code> before the modal fade-in animation, the <code>$modal-show-transform</code> variable determines the transform of <code>.modal-dialog</code> at the end of the modal fade-in animation.</p>
<p>If you want for example a zoom-in animation, you can set <code>$modal-fade-transform: scale(.8)</code>.</p>
<h3>Remove animation</h3>
<p>For modals that simply appear rather than fade in to view, remove the <code>.fade</code> class from your modal markup.</p>
<h3>Dynamic heights</h3>
<p>If the height of a modal changes while it is open, you should call <code>myModal.handleUpdate()</code> to readjust the modal&rsquo;s position in case a scrollbar appears.</p>
<h3>Accessibility</h3>
<p>Be sure to add <code>aria-labelledby=&quot;...&quot;</code>, referencing the modal title, to <code>.modal</code>. Additionally, you may give a description of your modal dialog with <code>aria-describedby</code> on <code>.modal</code>. Note that you don&rsquo;t need to add <code>role=&quot;dialog&quot;</code> since we already add it via JavaScript.</p>
<h3>Embedding YouTube videos</h3>
<p>Embedding YouTube videos in modals requires additional JavaScript not in Bootstrap to automatically stop playback and more. <a href="https://stackoverflow.com/questions/18622508/bootstrap-3-and-youtube-in-modal">See this helpful Stack Overflow post</a> for more information.</p>
<h2>Optional sizes</h2>
<p>Modals have three optional sizes, available via modifier classes to be placed on a <code>.modal-dialog</code>. These sizes kick in at certain breakpoints to avoid horizontal scrollbars on narrower viewports.</p>
<table class="table">
    <thead>
        <tr>
            <th>Size</th>
            <th>Class</th>
            <th>Modal max-width</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Small</td>
            <td><code>.modal-sm</code></td>
            <td><code>300px</code></td>
        </tr>
        <tr>
            <td>Default</td>
            <td class="text-muted">None</td>
            <td><code>500px</code></td>
        </tr>
        <tr>
            <td>Large</td>
            <td><code>.modal-lg</code></td>
            <td><code>800px</code></td>
        </tr>
        <tr>
            <td>Extra large</td>
            <td><code>.modal-xl</code></td>
            <td><code>1140px</code></td>
        </tr>
    </tbody>
</table>
<p>Our default modal without modifier class constitutes the &ldquo;medium&rdquo; size modal.</p>
<div class="bstg-example">
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModalXl">Extra large modal</button>
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModalLg">Large modal</button>
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModalSm">Small modal</button>
</div>
<div class="modal fade"
     id="exampleModalXl"
     tabindex="-1"
     aria-labelledby="exampleModalXlLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4"
                    id="exampleModalXlLabel">Extra large modal</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>
<div class="modal fade"
     id="exampleModalLg"
     tabindex="-1"
     aria-labelledby="exampleModalLgLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4"
                    id="exampleModalLgLabel">Large modal</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>
<div class="modal fade"
     id="exampleModalSm"
     tabindex="-1"
     aria-labelledby="exampleModalSmLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4"
                    id="exampleModalSmLabel">Small modal</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>
<h2>Fullscreen Modal</h2>
<p>Another override is the option to pop up a modal that covers the user viewport, available via modifier classes that are placed on a <code>.modal-dialog</code>.</p>
<table class="table">
    <thead>
        <tr>
            <th>Class</th>
            <th>Availability</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>.modal-fullscreen</code></td>
            <td>Always</td>
        </tr>
        <tr>
            <td><code>.modal-fullscreen-sm-down</code></td>
            <td>Below <code>576px</code></td>
        </tr>
        <tr>
            <td><code>.modal-fullscreen-md-down</code></td>
            <td>Below <code>768px</code></td>
        </tr>
        <tr>
            <td><code>.modal-fullscreen-lg-down</code></td>
            <td>Below <code>992px</code></td>
        </tr>
        <tr>
            <td><code>.modal-fullscreen-xl-down</code></td>
            <td>Below <code>1200px</code></td>
        </tr>
        <tr>
            <td><code>.modal-fullscreen-xxl-down</code></td>
            <td>Below <code>1400px</code></td>
        </tr>
    </tbody>
</table>
<div class="bstg-example">
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModalFullscreen">Full screen</button>
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModalFullscreenSm">Full screen below sm</button>
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModalFullscreenMd">Full screen below md</button>
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModalFullscreenLg">Full screen below lg</button>
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModalFullscreenXl">Full screen below xl</button>
    <button type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModalFullscreenXxl">Full screen below xxl</button>
</div>
<div class="modal fade"
     id="exampleModalFullscreen"
     tabindex="-1"
     aria-labelledby="exampleModalFullscreenLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4"
                    id="exampleModalFullscreenLabel">Full screen modal</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade"
     id="exampleModalFullscreenSm"
     tabindex="-1"
     aria-labelledby="exampleModalFullscreenSmLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4"
                    id="exampleModalFullscreenSmLabel">Full screen below sm</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade"
     id="exampleModalFullscreenMd"
     tabindex="-1"
     aria-labelledby="exampleModalFullscreenMdLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-md-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4"
                    id="exampleModalFullscreenMdLabel">Full screen below md</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade"
     id="exampleModalFullscreenLg"
     tabindex="-1"
     aria-labelledby="exampleModalFullscreenLgLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4"
                    id="exampleModalFullscreenLgLabel">Full screen below lg</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade"
     id="exampleModalFullscreenXl"
     tabindex="-1"
     aria-labelledby="exampleModalFullscreenXlLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-xl-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4"
                    id="exampleModalFullscreenXlLabel">Full screen below xl</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade"
     id="exampleModalFullscreenXxl"
     tabindex="-1"
     aria-labelledby="exampleModalFullscreenXxlLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-xxl-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title h4"
                    id="exampleModalFullscreenXxlLabel">Full screen below xxl</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<h2>Sass</h2>
<h3>Variables</h3>
<h3>Loop</h3>
<p><a href="#fullscreen-modal">Responsive fullscreen modals</a> are generated via the <code>$breakpoints</code> map and a loop in <code>scss/_modal.scss</code>.</p>
<h2>Usage</h2>
<p>The modal plugin toggles your hidden content on demand, via data attributes or JavaScript. It also overrides default scrolling behavior and generates a <code>.modal-backdrop</code> to provide a click area for dismissing shown modals when clicking outside the modal.</p>
<h3>Via data attributes</h3>
<h4>Toggle</h4>
<p>Activate a modal without writing JavaScript. Set <code>data-bs-toggle=&quot;modal&quot;</code> on a controller element, like a button, along with a <code>data-bs-target=&quot;#foo&quot;</code> or <code>href=&quot;#foo&quot;</code> to target a specific modal to toggle.</p>
<h4>Dismiss</h4>
<p>Dismissal can be achieved with the <code>data</code> attribute on a button <strong>within the modal</strong> as demonstrated below:</p>
<p>or on a button <strong>outside the modal</strong> using the <code>data-bs-target</code> as demonstrated below:</p>
<div class="bstg-callout bstg-callout-warning">
    While both ways to dismiss a modal are supported, keep in mind that dismissing from outside a modal does not match <a href="https://www.w3.org/TR/wai-aria-practices-1.1/#dialog_modal">the WAI-ARIA modal dialog design pattern</a>. Do this at your own risk.
</div>
<h3>Via JavaScript</h3>
<p>Create a modal with a single line of JavaScript:</p>
<h3>Options</h3>
<p>Options can be passed via data attributes or JavaScript. For data attributes, append the option name to <code>data-bs-</code>, as in <code>data-bs-backdrop=&quot;&quot;</code>.</p>
<table class="table">
    <thead>
        <tr>
            <th style="width: 100px;">Name</th>
            <th style="width: 50px;">Type</th>
            <th style="width: 50px;">Default</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>backdrop</code></td>
            <td>boolean or the string <code>'static'</code></td>
            <td><code>true</code></td>
            <td>Includes a modal-backdrop element. Alternatively, specify <code>static</code> for a backdrop which doesn't close the modal on click.</td>
        </tr>
        <tr>
            <td><code>keyboard</code></td>
            <td>boolean</td>
            <td><code>true</code></td>
            <td>Closes the modal when escape key is pressed</td>
        </tr>
        <tr>
            <td><code>focus</code></td>
            <td>boolean</td>
            <td><code>true</code></td>
            <td>Puts the focus on the modal when initialized.</td>
        </tr>
    </tbody>
</table>
<h3>Methods</h3>
<div class="bstg-callout bstg-callout-danger">
    <h4>Asynchronous methods and transitions</h4>
    <p>All API methods are <strong>asynchronous</strong> and start a <strong>transition</strong>. They return to the caller as soon as the transition is started but <strong>before it ends</strong>. In addition, a method call on a <strong>transitioning component will be ignored</strong>.</p>
    <p><a href="https://getbootstrap.com/docs/5.1/getting-started/javascript/#asynchronous-functions-and-transitions">See our JavaScript documentation for more information</a>.</p>
</div>
<h4>Passing options</h4>
<p>Activates your content as a modal. Accepts an optional options <code>object</code>.</p>
<h4>toggle</h4>
<p>Manually toggles a modal. <strong>Returns to the caller before the modal has actually been shown or hidden</strong> (i.e. before the <code>shown.bs.modal</code> or <code>hidden.bs.modal</code> event occurs).</p>
<h4>show</h4>
<p>Manually opens a modal. <strong>Returns to the caller before the modal has actually been shown</strong> (i.e. before the <code>shown.bs.modal</code> event occurs).</p>
<p>Also, you can pass a DOM element as an argument that can be received in the modal events (as the <code>relatedTarget</code> property).</p>
<h4>hide</h4>
<p>Manually hides a modal. <strong>Returns to the caller before the modal has actually been hidden</strong> (i.e. before the <code>hidden.bs.modal</code> event occurs).</p>
<h4>handleUpdate</h4>
<p>Manually readjust the modal&rsquo;s position if the height of a modal changes while it is open (i.e. in case a scrollbar appears).</p>
<h4>dispose</h4>
<p>Destroys an element&rsquo;s modal. (Removes stored data on the DOM element)</p>
<h4>getInstance</h4>
<p><em>Static</em> method which allows you to get the modal instance associated with a DOM element</p>
<h4>getOrCreateInstance</h4>
<p><em>Static</em> method which allows you to get the modal instance associated with a DOM element, or create a new one in case it wasn&rsquo;t initialized</p>
<h3>Events</h3>
<p>Bootstrap&rsquo;s modal class exposes a few events for hooking into modal functionality. All modal events are fired at the modal itself (i.e. at the <code>&lt;div class=&quot;modal&quot;&gt;</code>).</p>
<table class="table">
    <thead>
        <tr>
            <th style="width: 150px;">Event type</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>show.bs.modal</code></td>
            <td>This event fires immediately when the <code>show</code> instance method is called. If caused by a click, the clicked element is available as the <code>relatedTarget</code> property of the event.</td>
        </tr>
        <tr>
            <td><code>shown.bs.modal</code></td>
            <td>This event is fired when the modal has been made visible to the user (will wait for CSS transitions to complete). If caused by a click, the clicked element is available as the <code>relatedTarget</code> property of the event.</td>
        </tr>
        <tr>
            <td><code>hide.bs.modal</code></td>
            <td>This event is fired immediately when the <code>hide</code> instance method has been called.</td>
        </tr>
        <tr>
            <td><code>hidden.bs.modal</code></td>
            <td>This event is fired when the modal has finished being hidden from the user (will wait for CSS transitions to complete).</td>
        </tr>
        <tr>
            <td><code>hidePrevented.bs.modal</code></td>
            <td>This event is fired when the modal is shown, its backdrop is <code>static</code> and a click outside the modal or an escape key press is performed with the keyboard option or <code>data-bs-keyboard</code> set to <code>false</code>.</td>
        </tr>
    </tbody>
</table>
