// #########
// Imports #
// #########
@import "bootswatch/dist/flatly/_variables";
@import "global_variable_overrides";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/flatly/_bootswatch";
@import "global_new_rules";
@import "global_new_colors";

// ###############
// Custom styles #
// ###############

// The parent theme (Flatly) uses white close buttons.
// Toasts have white background headers.
.toast .close {
    color: #000;

    &:not(:disabled):not(.disabled):hover,
    &:not(:disabled):not(.disabled):focus {
        color: #000;
    }
}

// Various tweaks.
div.boxed {
    border: #ecece7 solid 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1), 2px 2px 0 rgba(0, 0, 0, 0.1);
}

// Add underline to only the headings directly inside a boxed section, not anywhere else.
.container.boxed > h1,
.container.boxed > .h1,
.container.boxed > h2,
.container.boxed > .h2 {
    border-bottom: 1px solid #e0e0dc;
}

// pre tag tweaks.
.container.boxed pre {
    white-space: pre-wrap !important;
    background-color: #f8f8f8 !important;
    border-radius: 4px !important;
    border: 1px solid #ccc !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
