// #####################
// Variables overrides #
// #####################

// Override immense focus effects from inputs/buttons/badges.
$input-btn-focus-width: 0.1rem;

// Override gigantic headings.
$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;

$enable-gradients: true;
$enable-shadows: true;

// ANIHILATE web font import.
$web-font-path: "data:text/css;base64,";

// Override fonts.
$font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace: "DejaVu Sans Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

// Override "flashy" paginations. The default styles are too bright.
$pagination-color: $white;
$pagination-bg: $primary;
$pagination-border-width: 0;
$pagination-border-color: transparent;

$pagination-focus-outline: 0;

$pagination-hover-color: darken($white, 15%);
$pagination-hover-bg: lighten($dark, 10%);
$pagination-hover-border-color: transparent;

$pagination-active-color: $white;
$pagination-active-bg: $success;
$pagination-active-border-color: transparent;

$pagination-disabled-color: $gray-300;
$pagination-disabled-bg: $secondary;
$pagination-disabled-border-color: transparent;
