// ###############
// Custom styles #
// ###############

// Custom styling classes.

.text-bold {
    font-weight: bold !important;
}

.text-bolder {
    font-weight: bolder !important;
}

.text-italic {
    font-style: italic !important;
}

.text-oblique {
    font-style: oblique !important;
}

.text-overline {
    text-decoration: overline !important;
}

.text-line-through {
    text-decoration: line-through !important;
}

.text-underline {
    text-decoration: underline !important;
}

.text-font-size-small {
    font-size: 80% !important;
}

.text-font-size-medium {
    font-size: 90% !important;
}

.text-font-size-large {
    font-size: 110% !important;
}

.text-font-size-x-large {
    font-size: 120% !important;
}

.text-font-size-xx-large {
    font-size: 130% !important;
}

// Stop images from being dumbasses.
// Since in some cases I don't have control over what it's displayed inside a boxed container
// (I can't add the img-fluid class to images), force img elements to be responsive.
div.boxed img {
    max-width: 100%;
    height: auto;
}
