<div class="bs-docs-section">
    <h1>Badges extra colors</h1>
    <div class="bs-component">
        <span class="text-font-size-large badge badge-pill badge-blue">Blue</span>
        <span class="text-font-size-large badge badge-pill badge-cyan">Cyan</span>
        <span class="text-font-size-large badge badge-pill badge-green">Green</span>
        <span class="text-font-size-large badge badge-pill badge-indigo">Indigo</span>
        <span class="text-font-size-large badge badge-pill badge-orange">Orange</span>
        <span class="text-font-size-large badge badge-pill badge-pink">Pink</span>
        <span class="text-font-size-large badge badge-pill badge-purple">Purple</span>
        <span class="text-font-size-large badge badge-pill badge-red">Red</span>
        <span class="text-font-size-large badge badge-pill badge-teal">Teal</span>
        <span class="text-font-size-large badge badge-pill badge-yellow">Yellow</span>
    </div>
    <div class="bs-component">
        <span class="text-font-size-large badge badge badge-blue">Blue</span>
        <span class="text-font-size-large badge badge badge-cyan">Cyan</span>
        <span class="text-font-size-large badge badge badge-green">Green</span>
        <span class="text-font-size-large badge badge badge-indigo">Indigo</span>
        <span class="text-font-size-large badge badge badge-orange">Orange</span>
        <span class="text-font-size-large badge badge badge-pink">Pink</span>
        <span class="text-font-size-large badge badge badge-purple">Purple</span>
        <span class="text-font-size-large badge badge badge-red">Red</span>
        <span class="text-font-size-large badge badge badge-teal">Teal</span>
        <span class="text-font-size-large badge badge badge-yellow">Yellow</span>
    </div>
</div>
<div class="bs-docs-section">
    <h1>Buttons extra colors</h1>
    <p class="bs-component">
        <button type="button" class="btn btn-blue">Blue</button>
        <button type="button" class="btn btn-cyan">Cyan</button>
        <button type="button" class="btn btn-green">Green</button>
        <button type="button" class="btn btn-indigo">Indigo</button>
        <button type="button" class="btn btn-orange">Orange</button>
        <button type="button" class="btn btn-pink">Pink</button>
        <button type="button" class="btn btn-purple">Purple</button>
        <button type="button" class="btn btn-red">Red</button>
        <button type="button" class="btn btn-teal">Teal</button>
        <button type="button" class="btn btn-yellow">Yellow</button>
    </p>
    <p class="bs-component">
        <button type="button" class="btn btn-blue disabled">Blue</button>
        <button type="button" class="btn btn-cyan disabled">Cyan</button>
        <button type="button" class="btn btn-green disabled">Green</button>
        <button type="button" class="btn btn-indigo disabled">Indigo</button>
        <button type="button" class="btn btn-orange disabled">Orange</button>
        <button type="button" class="btn btn-pink disabled">Pink</button>
        <button type="button" class="btn btn-purple disabled">Purple</button>
        <button type="button" class="btn btn-red disabled">Red</button>
        <button type="button" class="btn btn-teal disabled">Teal</button>
        <button type="button" class="btn btn-yellow disabled">Yellow</button>
    </p>
    <p class="bs-component">
        <button type="button" class="btn btn-outline-blue">Blue</button>
        <button type="button" class="btn btn-outline-cyan">Cyan</button>
        <button type="button" class="btn btn-outline-green">Green</button>
        <button type="button" class="btn btn-outline-indigo">Indigo</button>
        <button type="button" class="btn btn-outline-orange">Orange</button>
        <button type="button" class="btn btn-outline-pink">Pink</button>
        <button type="button" class="btn btn-outline-purple">Purple</button>
        <button type="button" class="btn btn-outline-red">Red</button>
        <button type="button" class="btn btn-outline-teal">Teal</button>
        <button type="button" class="btn btn-outline-yellow">Yellow</button>
    </p>
</div>
<div class="bs-docs-section">
    <div class="bs-component">
        <h1>Emphasis new colors</h1>
        <p class="text-blue">Blue id dolor id nibh ultricies vehicula ut id elit.</p>
        <p class="text-cyan">Cyan id dolor id nibh ultricies vehicula ut id elit.</p>
        <p class="text-green">Green id dolor id nibh ultricies vehicula ut id elit.</p>
        <p class="text-indigo">Indigo id dolor id nibh ultricies vehicula ut id elit.</p>
        <p class="text-orange">Orange id dolor id nibh ultricies vehicula ut id elit.</p>
        <p class="text-pink">Pink id dolor id nibh ultricies vehicula ut id elit.</p>
        <p class="text-purple">Purple id dolor id nibh ultricies vehicula ut id elit.</p>
        <p class="text-red">Red id dolor id nibh ultricies vehicula ut id elit.</p>
        <p class="text-teal">Teal id dolor id nibh ultricies vehicula ut id elit.</p>
        <p class="text-yellow">Yellow id dolor id nibh ultricies vehicula ut id elit.</p>
    </div>
</div>
<div class="bs-docs-section clearfix">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="navbars">Navbars with gradient backgrounds</h1>
            </div>
            <div class="bs-component">
                <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-primary">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarGradient01" aria-controls="navbarGradient01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarGradient01">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
            <div class="bs-component">
                <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-dark">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarGradient02" aria-controls="navbarGradient02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarGradient02">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
            <div class="bs-component">
                <nav class="navbar navbar-expand-lg navbar-light bg-gradient-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarGradient03" aria-controls="navbarGradient03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarGradient03">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
